{% extends "base.html" %} {% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
{% endblock %} {% block content %} {% block javascript %}
<script>
  // Initialize and add the map
  function initMap() {
    // The location of Portsmouth
    const portsmouth = { lat: 50.79899, lng: -1.09125 };
    // The map, centered on Portsmouth
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: portsmouth,
    });
    var markers = [];
    var infoWindows = [];
    // The markers
    places = {{ places_dicts | tojson }};
    for (let i in places) {
      const contentString = '<h3 id="firstHeading" class="firstHeading">' + places[i]['name'] + '</h3>' + '<div id="bodyContent">' + "<p>" + places[i]['aggregate'] + "</p>" + '</div>'
      const infoWindow = new google.maps.InfoWindow();
      const marker = new google.maps.Marker({
      position: { lat: places[i]['latitude'], lng: places[i]['longitude'] },
      title: contentString,
      map: map,
    });
    // Add a click listener for each marker, and set up the info window.
    marker.addListener("click", () => {
      infoWindow.close();
      infoWindow.setContent(marker.getTitle());
      infoWindow.open(marker.getMap(), marker);
    });
    markers.push(marker);
    infoWindows.push(infoWindow);
    }
  }

  window.initMap = initMap;
</script>
{% endblock %} {% if alert %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Added entry.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %} {% for place in places %}
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{place.name}}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <div class="card-header">Average Review - {{place.aggregate}}</div>
    {% for review in place.reviews %}
    <li class="list-group-item">
      {{review.person.nickname}} - {{review.rating}} <br />{{review.content}}
    </li>
    {% endfor %}
  </ul>
</div>

<div id="map"></div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDokiauDvChpbFspEo4Y_WgRquoITz0_L4&callback=initMap&v=weekly"
  defer
></script>
{% endfor %} {% endblock %}
