{% extends "base.html" %} {% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
{% endblock %} {% block content %} {% block javascript %}
<script>
  // Initialize and add the map
  function initMap() {
    // The location of Portsmouth
    const portsmouth = { lat: 50.79899, lng: -1.09125 };
    // The map, centered on Portsmouth
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: portsmouth,
    });
    const ports_mark = new google.maps.Marker({
      position: portsmouth,
      map: map,
    });
    var markers = [];
    // The markers
    places = {{ places_dicts | tojson }};
    for (let i in places) {
      const marker = new google.maps.Marker({
      position: { lat: places[i]['latitude'], lng: places[i]['longitude'] },
      map: map,
    });
    markers.push(marker);
    }
  }

  window.initMap = initMap;
</script>
{% endblock %} {% for place in places %}
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{place.name}}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <div class="card-header">Average Review - {{place.aggregate}}</div>
    {% for review in place.reviews %}
    <li class="list-group-item">
      {{review.person.nickname}} - {{review.rating}} <br />{{review.content}}
    </li>
    {% endfor %}
  </ul>
</div>

<div id="map"></div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDokiauDvChpbFspEo4Y_WgRquoITz0_L4&callback=initMap&v=weekly"
  defer
></script>
{% endfor %} {% endblock %}
